.repositoriesInfo-container {
  padding: 1vw;
}

.repositoriesInfo-title {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.repositoriesInfo-infos {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.repositoriesInfo-root {
  width: 15vw;
  margin: 10px 10px 10px 0px;
}
.repositoriesInfo-heading {
  font-size: 20px;
  font-weight: 500px;
  color: #ffffff;
}

.repositoriesInfo-panelHeader {
  background-color: #1c1e24 !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.repositoriesInfo-panel {
  background-color: 'transparent';
}

.repositoriesInfo-panelDetails {
  display: flex;
  flex-direction: column;
  background-color: #24272e;
  color: #ffffff;
}

.repositoriesInfo-div {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.MuiSvgIcon-root {
  color: white !important;
}

.repositoriesInfo-content-title {
  font-size: 18px;
}

.repositoriesInfo-content {
  padding-left: 10px;
  margin: 0;
}

.repositoriesInfo-lang,
.repositoriesInfo-collab {
  display: flex;
  flex-direction: row;
}
